

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500 600;
    font-display: swap;
    src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

h1, h2, h3, h4 {
    @apply font-semibold;
    font-family: 'Roboto', sans-serif;
}

.main-body {
    @apply md:text-base text-mobile font-serif;
}
