
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}

h1,
h2 {
    @apply font-semibold;
    font-family: sans-serif;
}

h3,
h4 {
    @apply font-semibold;
    font-family: sans-serif;
}
.main-body {
    @apply font-serif text-lg;
}