.admin-menu {
  @apply font-sans;

  a {
    @apply relative text-white no-underline;
  }

  ul {
    @apply mb-0;
  }

  li {
    @apply pb-1 mr-5;
  }

  i {
    @apply relative top-1;
  }
}


.main-body {
  @apply lg:min-h-[400px] lg:max-w-screen-lg py-6 mx-4 lg:py-8 lg:mx-auto;
}


footer ul.sub-menu {
  @apply pl-0 m-0 lg:block;
}

.logo-desktop {
  @apply mx-auto max-w-[450px] max-h-36 h-auto w-auto my-8;
}

.logo-mobile {
  @apply my-8 ml-2 mr-10 w-[250px];
}

.banner-image {
  @apply text-white drop-shadow-md mb-4 md:h-auto bg-dark h-72;
  img {
    @apply opacity-70 max-h-[350px];
  }
  .banner-text {
    @apply inset-0 top-auto pb-8;

    h2 {
      @apply mt-0;
    }
  }
}

.no-banner-image {
  @apply mt-6 text-secondary h-auto;

  .banner-text {
    @apply max-w-screen-lg mx-4 pb-6 md:mx-auto;
  }
}

.banner-text {

  h1,
  h2 {
    @apply mx-4 mb-0 text-center;
  }

  h1 {
    @apply text-2xl md:text-4xl mt-4;
  }

  h2 {
    @apply text-lg md:text-xl mt-2;
  }
}


footer {
  @apply text-white bg-secondary text-base;
}

.footer-menu > ul {
  @apply gap-16 ml-0 md:columns-2 mb-0;
}

.footer-menu {
  @apply font-sans text-base;

  a {
    @apply text-white no-underline hover:text-neutral-300;
  }

  span.no-link {
    @apply text-lg font-semibold;
  }
}

ul.sub-menu {
  @apply ml-0 z-20 text-lg shadow lg:hidden lg:group-hover:block lg:bg-neutral-100 lg:absolute lg:mt-3 lg:w-56;
}

.main-menu {
  @apply ml-0 mb-0;

  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  li {
    @apply ml-0 mb-2 md:mb-0;
    @apply md:mx-4;
    /* Adds margin between menu items on md+ screens */
  }

  .indicator {
    @apply icon-[mdi--menu-down] text-xl relative top-0.5 hidden lg:inline-block;
  }

  span.no-link,
  a {
    @apply block px-3 py-1 text-lg no-underline text-dark md:text-white hover:bg-neutral-100 hover:text-black;
  }

  .sub-menu {
    .no-link {
      @apply hover:bg-none text-dark hover:text-dark;
    }

    li {
      @apply pb-1 mx-0 text-base leading-tight;
    }

    a {
      @apply py-1.5 text-dark hover:bg-black hover:text-white;
    }
  }

  ul.sub-menu {
    @apply mt-0;
  }

}


/* these lines break the menu into columns */
.break-column {
  break-before: column;
}

.menu-resources .sub-menu {
  @apply lg:gap-4 lg:w-[500px] lg:columns-2 lg:-ml-32;
}

.two-cols {
  @apply grid-cols-2 gap-3 md:grid;
}

.three-cols {
  @apply grid-cols-3 gap-4 md:grid;
}

.float_left,
.float_right {
  @apply float-right ml-6;
}



.front-services {
  @apply grid grid-cols-2 gap-3 text-center md:grid-cols-3;

  .front-text {
    @apply block mb-4 text-lg leading-snug no-underline text-dark lg:text-xl;
  }

  .front-icon {
    @apply flex items-center justify-center w-16 h-16 mx-auto mb-3 text-5xl text-gray-700 border-2 border-gray-700 rounded-full hover:bg-dark hover:text-white;
  }
}

.post-image {
  @apply max-w-80 max-h-80 w-auto h-auto float-end ml-4 mb-4;
}
.post-content.has-image {
  @apply pt-3;
}

.post-preview-image {
  @apply max-w-36 max-h-36 w-auto h-auto mr-6;
}

.event-content p {
  @apply mb-2;
}

/* testimonials */
.testimonial-title {
  @apply font-semibold text-lg;
}
.testimonial-content {
  @apply italic;
}

/* 404 */
.icon-error {
  @apply icon-[mdi--error-outline] text-8xl text-gray-700;
}

