

.admin-menu {
  @apply font-sans;
  a {
    @apply relative text-white no-underline;
  }

  ul {
    @apply mb-0;
  }

  li {
    @apply pb-1 mr-5;
  }

  i {
    @apply relative top-1;
  }
}


.main-body {
    @apply lg:max-w-screen-lg py-6 mx-4 lg:py-8 lg:mx-auto;
  }


footer ul.sub-menu {
    @apply pl-0 m-0 bg-transparent lg:block;
}


.logo-desktop {
    @apply mx-auto max-w-[400px] my-8;
}

.logo-mobile {
    @apply my-8 ml-2 mr-10 w-[250px];
}

.banner-image {
    @apply text-white drop-shadow-md mb-6 h-96 lg:h-auto;
    .banner-text {
        @apply bg-black bg-opacity-30 inset-0 top-auto pb-8;
        h2 {
          @apply mt-0;
        }
    }
}

.no-banner-image {
    @apply mt-6 text-secondary h-auto;
    .banner-text {
        @apply max-w-screen-lg mx-4 pb-6 md:mx-auto;
    }
}

.banner-text {
    h1,
    h2 {
        @apply mx-4 mb-0 text-center;
    }

    h1 {
        @apply text-2xl md:text-4xl mt-4;
    }

    h2 {
        @apply text-lg md:text-xl mt-2;
    }
}


footer {
    @apply text-white bg-secondary;
  }

  .footer-menu > ul {
    @apply gap-16 ml-0 md:columns-2;
  }

  .footer-menu {
    @apply font-sans text-lg;
    a {
      @apply text-white no-underline hover:text-neutral-300;
    }

    span.no-link {
      @apply text-lg font-semibold;
    }
  }


  .copyright {
    @apply py-4 text-sm text-center bg-gray-500 text-white;
  }






  ul.sub-menu {
    @apply ml-0 z-20 text-lg shadow lg:hidden lg:group-hover:block lg:bg-neutral-100 lg:absolute lg:mt-3 lg:w-56;
  }
  .main-menu {
    @apply ml-0 mb-0 text-lg bg-gray-200 md:bg-gray-500;

    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }

    li {
      @apply ml-0 mb-2 md:mb-0;
      @apply md:mx-4; /* Adds margin between menu items on md+ screens */
    }

    .indicator {
      @apply icon-[mdi--menu-down] text-xl relative top-0.5 hidden lg:inline-block;
    }

    span.no-link,
    a {
      @apply block px-3 py-1 text-lg no-underline text-dark md:text-white hover:bg-neutral-100 hover:text-black;
    }

    .sub-menu {
      // @apply z-20 py-2 text-lg shadow hidden  bg-neutral-100 absolute mt-3 px-1 w-56;
      .no-link {
        @apply hover:bg-none text-dark hover:text-dark;
      }
      li {
        @apply pb-1 mx-0 text-base leading-tight;
      }

      a {
        @apply py-1.5 text-dark hover:bg-black hover:text-white;
      }
    }
    ul.sub-menu {
      @apply mt-0;
    }

  }


  /* these lines break the menu into columns */
.break-column {
  break-before: column;
}
.menu-resources .sub-menu {
  @apply lg:gap-4 lg:w-[500px] lg:columns-2 lg:-ml-32;
}

.two-cols {
  @apply grid-cols-2 gap-3 md:grid;
}

.three-cols {
  @apply grid-cols-3 gap-4 md:grid;
}

.float_left, .float_right {
  @apply float-right ml-6;
}



.front-services {
  @apply grid grid-cols-2 gap-3 text-center md:grid-cols-3;

  .front-text {
    @apply block mb-4 text-lg leading-snug no-underline text-dark lg:text-xl;
  }

  .front-icon {
    @apply flex items-center justify-center w-16 h-16 mx-auto mb-3 text-5xl text-gray-700 border-2 border-gray-700 rounded-full hover:bg-dark hover:text-white;
  }
}