---
const editorKey = import.meta.env.EDITOR_KEY;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set Editor Key</title>
</head>
<body>
  <p>Editor key set in session storage</p>
  <script define:vars={{ editorKey }}>
    // The editorKey variable is now available in this script
    sessionStorage.setItem('isEditor', editorKey);
    console.log('Editor key set in session storage with value:', editorKey);
    window.location.href = '/';
  </script>
</body>
</html>
