---
const loginUrl = import.meta.env.API_URL + '/wp-admin/';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>Login</title>
</head>
<body>
    <script define:vars={{ loginUrl }}>
        document.addEventListener('DOMContentLoaded', () => {
            window.open(loginUrl, '_self');
        });
    </script>
</body>
</html>
