---
import Logo from '../components/Logo.astro';
import Navigation from '../components/Navigation.astro';
import MenuTottgle from '../components/MenuToggle.astro';

const hideToggle = false;
const classList = 'main-menu-wrapper ' + (hideToggle ? 'flex' : 'hidden sm:flex');

---
<div class="logo-wrapper">
    {!hideToggle && <MenuTottgle />}
    <Logo />
</div>
<nav id="main-nav" class={classList}>
    <Navigation class="p-0 main-menu" />
</nav>
