---
const { pageId, postId, templateId, categoryId, tagId, galleryId } = Astro.props;
---

<div id="admin-menu" class="absolute top-0 left-0 right-0 z-10 admin-menu" style="display:none;">
  <ul
    id="menu-content"
    class="sticky top-0 left-0 right-0 flex pl-2 text-sm list-none"
  >
  </ul>
</div>

<script define:vars={{ pageId, postId, templateId, categoryId, tagId, galleryId }}>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  }
  async function loadAdminMenu() {
    const editorKey = getCookie("isEditor");
    if (!editorKey) return;

    try {
      const response = await fetch(
        `/admin-menu?postId=${postId || ""}&pageId=${pageId || ""}&templateId=${templateId || ""}&categoryId=${categoryId || ""}&tagId=${tagId || ""}&galleryId=${galleryId || ""}`,
        {
          headers: { "X-Editor-Key": editorKey },
        }
      );

      if (response.ok) {
        document.getElementById("admin-menu").style.display = "block";
        const menuHTML = await response.text();
        if (menuHTML) {
          document.getElementById("menu-content").innerHTML = menuHTML;
          document.body.style.paddingTop = "25px";
        } else {
          console.error("Admin menu HTML is empty");
        }
      } else {
        document.body.style.paddingTop = "0";
      }
    } catch (error) {
      console.error("Error loading admin menu:", error);
    }
  }

  loadAdminMenu();
</script>
