---
//src/components/FeaturedImage.astro
import { getImages } from '../lib/utils';
import { Image } from 'astro:assets';

const { imageSourceUrl, imageAltText } = Astro.props;

let localImage = null;

if (imageSourceUrl) {
  localImage = await getImages('featured', imageSourceUrl);
} else {
  return '';
}

---

{localImage && (
  <div class="featured-image content-image">
    <Image
        src={localImage.default}
        alt={imageAltText || 'Featured image'}
        widths={[300, 600, 900, 1200]}
        sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
        loading="eager"
    />
  </div>
)}
