---
---

<div class="md:hidden mobile-toggle">
    <button
        id="menu-toggle"
        class="w-10 py-2 ml-2 text-4xl"
        aria-label="Toggle Menu">
        <i id="menu-icon" class="icon-[mdi--menu]"></i>
    </button>
</div>
