---
const { relatedPosts } = Astro.props;
const postAlias = import.meta.env.POST_ALIAS;

if (!relatedPosts || !Array.isArray(relatedPosts)) {
  return;
}

---

<div class="related-posts">
    <div class="related-heading">Related Posts</div>
        <ul class="related-post">
        {relatedPosts.map((related) => (
            <li>
                <a href=`/${postAlias}/${related.slug}` class="related-post">
                    {related.title}
                </a>
            </li>
        ))}
      </ul>
</div>
