---
import { GET_FAVICON } from "../lib/queries";
import client from '../lib/apolloClient';

const { data:favIcon } = await client.query({
  query: GET_FAVICON,
});
/*{
    customSiteSettings {
      faviconLogo {
        sourceUrl
        mimeType
      }
    }
  }*/
const faviconUrl = favIcon.customSiteSettings.faviconLogo.sourceUrl;
const faviconType = favIcon.customSiteSettings.faviconLogo.mimeType;

const { title, description } = Astro.props;

---

<head>
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="icon" href={faviconUrl} type={faviconType} />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
