---
import CustomLink from "./CustomLink.astro";
const { tags } = Astro.props;
const allTags = tags?.nodes;

if (!allTags?.length) return '';

---

<div class="tags">
  <span class="mr-4 font-semibold">Tags:</span>
  {allTags.map(tag => (
    <a href={`/tags/${tag.slug}`} class="mr-4 tag-link" key={tag.slug}>
      {tag.name}
    </a>
  ))}
</div>
